
@media(max-width:992){
  .p1{width: 100%;
  align-items: center;}
}
@media (max-width:774) {
  .a2{
   padding: 0;
   font-size: 5px;
   margin-bottom: 5px;
  }
  .p1{width: 100%;
    align-items: center;}
}
@media (max-width:670px) {
  .img{width: 20remrem;
    align-items: center;
    margin:  0 auto;
   };
   .p1{width: 100%;
    align-items: center;}
}
@media (max-width:668px) {
  .img{width: 19.5rem;
    align-items: center;
    margin:  0 auto;
   };
}

@media (max-width: 600px) {
  
  .ham{
      display: inline;
    
  }
  .ul{
      display: none;
  }
  .img{width: 19.5rem;
    align-items: center;
    margin:  0 auto;
   };
  
  .head .roe .col{
    width: 100%;
  }
  .p1{width: 100%;
    align-items: center;}
  .col{
    width: 100%;
  }
  .head{width: 100%;}
}
@media  (max-width: 778px) {
span{ margin-right: 5px;
  background-color: #5267DF;
  padding: 5px;
  border-radius: 2rem;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
  
 
 }
 .p1{width: 100%;
  align-items: center;}
.btn1{
    margin-bottom: 10px;
    
}
.nav div .ul li {
  float: left;
  margin-right: 7px;
}
  
}
@media (max-width: 420px) {
  span{ margin-right: 2px;
      padding: 0px;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
      font-size: 10px;
    background-color: transparent;
     color:#5267DF ;
     border-bottom: 1px solid black;
     padding: 3px;
     font-weight: 700;
     font-family: sans-serif;
   
     }
     .img{width: 19.5rem;
      align-items: center;
      margin:  0 auto;
     };
     body{
       overflow: hidden;
     }
     .p1{width: 100%;
      align-items: center;}
     
}
@media (max-width:500px) {
  .contact .feature div h5,.contact .feature div h2{
     font-size: 20px;
  }
  
  
  
  .p1{width: 100%;
    align-items: center;}
  .img{width: 19.5rem;
  margin-left: 4rem
     };
}
@media(max-width:375px) {

   .img{width: 19.5rem;
   align-items: center;
   margin:  0 auto;
  };
   body{
     overflow: hidden;
   }
   .p1{width: 100%;
    align-items: center;}

}
@media (max-width:772px){
 .img{
   width: 20rem;
  align-items: center;
  margin:  0 auto;
 }
 
}
